@model BODDal.Models.EnterpriiseWiseSMME
@{
    ViewBag.Title = "EnterpriseProfieView_SMME";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    var random = new Random();
    var list = new List<string> { "success", "danger", "warning", "info", "primary", "secondary" };
    var index = random.Next(list.Count);

}
<link rel="stylesheet" href="~/Content/assets/vendor/css/pages/page-profile.css" />

<div class="container-xxl flex-grow-1 container-p-y">

    <input type="hidden" value="@ViewBag.EntrId" id="hdnId" />
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Enterprise Profile /</span> MSME
    </h4>

    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="user-profile-header-banner">
                    <img id="picture" alt="Banner image" class="rounded-top">
                    @*<img src="~/Content/assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">*@
                </div>
                <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                    @if (Model.ENR_Logo == "NO")
                    {
                        <div class="avatar avatar-xl d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
                            <span class="avatar-initial  bg-@list[index]">@Model.ENR_Prefix</span>
                        </div>
                            <br />
                    }
                    else
                    {
                        <img class="img-fluid rounded mb-3 pt-1 mt-4" src="@Model.ENR_Logo" height="100" width="100" alt="User avatar">
                    }
                    <div class="flex-grow-1 mt-3 mt-sm-5">
                        <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                            <div class="user-profile-info">
                                <h4>@Model.ENR_CompanyName</h4>
                                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                                    <li class="list-inline-item d-flex gap-1">
                                        <i class='ti ti-mail ti-sm'></i> @Model.ENR_PrimaryContactEmail
                                    </li>
                                    <li class="list-inline-item d-flex gap-1">
                                        <i class='ti ti-phone ti-sm'></i> @Model.ENR_PrimaryContactNo
                                    </li>
                                    <li class="list-inline-item d-flex gap-1">
                                        <i class='ti ti-calendar'></i> Joined @Model.ENR_CreatedDate
                                    </li>
                                </ul>
                            </div>
                            @*<a href="javascript:void(0)" class="btn btn-primary">
                                <i class='ti ti-check me-1'></i>Connected
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Header -->
    <!-- Navbar pills -->
    @*<div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                <li class="nav-item"><a class="nav-link" href="~/Enterprise/EnterpriseProfieView_Profiles"><i class='ti-xs ti ti-user-check me-1'></i> Enterprise</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Enterprise/EnterpriseProfieView_Teams"><i class='ti-xs ti ti-users me-1'></i> Teams</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Enterprise/EnterpriseProfieView_Projects"><i class='ti-xs ti ti-layout-grid me-1'></i> Projects</a></li>
                <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class='ti-xs ti ti-link me-1'></i> SMME</a></li>
            </ul>
        </div>
    </div>*@
    <!--/ Navbar pills -->
    <!-- Connection Cards -->
    <div class="row g-4">
        @foreach (var smmeval in Model.EnterpriiseWiseSMMEList)
        {
            var randomSMME = new Random();
            var listSMME = new List<string> { "warning", "info", "success", "danger", "primary", "secondary" };
            var indexSMMM = randomSMME.Next(listSMME.Count);
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        @*<div class="dropdown btn-pinned">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots-vertical text-muted"></i></button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript:void(0);">Share connection</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Block connection</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a></li>
                            </ul>
                        </div>*@
                        @if (smmeval.SMME_Logo == "NO")
                        {
                            <div class="avatar mx-auto avatar-lg my-3" style="width:6rem!important;height:6rem!important;">
                                <span class="avatar-initial rounded-circle bg-@listSMME[indexSMMM]">@Model.SMME_Prefix</span>
                            </div>
                        }
                        else
                        {
                            <div class="mx-auto my-3" style="width:6rem!important;height:6rem!important;">
                                <img src="@smmeval.SMME_Logo" alt="Avatar Image" height="100" width="100" class="rounded-circle w-px-100" />
                            </div>
                           
                        }
                        <h4 class="mb-1 card-title">@smmeval.SMME_CompanyName</h4>
                        <span class="pb-1">@smmeval.ENR_PrimaryContactEmail</span>
                      
                        <div class="d-flex align-items-center justify-content-around my-3 py-1">
                            <div>
                                <h4 class="mb-0">18</h4>
                                <span>Projects</span>
                            </div>
                            <div>
                                <h4 class="mb-0">834</h4>
                                <span>Tasks</span>
                            </div>
                            @*<div>
                                <h4 class="mb-0">129</h4>
                                <span>Connections</span>
                            </div>*@
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="javascript:;" class="btn btn-primary d-flex align-items-center me-3"><i class="ti-xs me-1 ti ti-user-check me-1"></i>Connected</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        
       
    </div>
    <!--/ Connection Cards -->

</div>
<script src="~/Scripts/custom/DynamicBanner.js"></script>
<script src="~/Content/assets/js/pages-profile.js"></script>
<script src="~/Scripts/custom/EnterpriseProfile.js"></script>