
@{
    ViewBag.Title = "ViewAllSMMEForEnterprise";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<div class="container-xxl flex-grow-1 container-p-y">



    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <a href="@Url.Action("ViewAllSMMEForEnterprise", "Enterprise")" onclick="getValue(74);">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <p>All MSMEs on the System</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2"><span id="spnTotSmme"></span></h3>
                                    @*<p class="text-success mb-0">(+29%)</p>*@
                                </div>
                                <!-- <p class="mb-0">Last week analytics </p> -->
                            </div>
                            <div class="avatar">
                                <span class="avatar-initial rounded bg-label-primary">
                                    <i class="ti ti-user ti-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
</div>

        <div class="col-sm-6 col-xl-3">
            <a href="@Url.Action("ViewAllSMMEForEnterprise", "Enterprise", new { Filter = "Active" })" onclick="getValue(74);">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <p>All Verified MSMEs</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2"><span id="spnActiveSmme"></span></h3>
                                    @*<p class="text-danger mb-0">(-14%)</p>*@
                                </div>
                                <!-- <p class="mb-0">Last week analytics</p> -->
                            </div>
                            <div class="avatar">
                                <span class="avatar-initial rounded bg-label-success">
                                    <i class="ti ti-user-check ti-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
</div>
        <div class="col-sm-6 col-xl-3">
            <a href="@Url.Action("ViewAllSMMEForEnterprise", "Enterprise", new { Filter = "Deactive" })" onclick="getValue(74);">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <p>All Non-Vetted MSMEs</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2"><span id="spnDeactiveSmme"></span></h3>
                                    @*<p class="text-success mb-0">(+18%)</p>*@
                                </div>
                                <!-- <p class="mb-0">Last week analytics </p> -->
                            </div>
                            <div class="avatar">
                                <span class="avatar-initial rounded bg-label-danger">
                                    <i class="ti ti-user-plus ti-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
</div>
        <div class="col-sm-6 col-xl-3">
            <a href="@Url.Action("ViewAllSMMEForEnterprise", "Enterprise", new { Filter = "Pending" })" onclick="getValue(74);">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <p>All Supported MSMEs</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2"><span id="spnPendSmme"></span></h3>
                                    @*<p class="text-success mb-0">(+42%)</p>*@
                                </div>
                                <!-- <p class="mb-0">Last week analytics</p> -->
                            </div>
                            <div class="avatar">
                                <span class="avatar-initial rounded bg-label-warning">
                                    <i class="ti ti-user-exclamation ti-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
</div>
    </div>
    <!-- Users List Table -->
    <div class="card">
        <div class="card-header border-bottom d-none">
            <h5 class="card-title mb-3">Search Filter</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-users table" id="datatable-example">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>MSMEs</th>
                        <th>INDUSTRY</th>
                        <th>Branch</th>
                        <th>Registration Date</th>
                        <th>Contact No.</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>


            </table>
        </div>
        <!-- Offcanvas to add new user -->
    </div>
</div>

@*Assign Project Modal*@
<div class="modal fade" id="shareProject" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-md-12 col-12 mb-md-0 mb-4">
                        <div class="text-center">
                            <h3 class="mb-2">Project List</h3>
                        </div>
                        <br />
                        <ul class="p-0 m-0" id="ulProjectList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Assign Branch Modal*@
<div class="modal fade" id="shareBranch" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-md-12 col-12 mb-md-0 mb-4">
                        <div class="text-center">
                            <h3 class="mb-2">Branch List</h3>
                        </div>
                        <br />
                        <ul class="p-0 m-0" id="ulBranchList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var URLList = {

        GetList: '@Url.Action("GetGlobalMasterTransaction", "ScriptJson")',

    };

</script>
<script src="~/Content/assets/vendor/libs/moment/moment.js"></script>
<script src="~/Content/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="~/Content/assets/vendor/libs/select2/select2.js"></script>

<script src="~/Content/assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="~/Content/assets/vendor/libs/cleavejs/cleave-phone.js"></script>

<script src="~/Scripts/custom/ViewAllSMMEForEnterprise.js"></script>

